.cart-total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-total-label {
  font-size: 18px;
  font-weight: 500;
}

.cart-total-value {
  font-size: 18px;
  font-weight: 700;
}